.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.settings/
.loadpath
.idea
.target/
logs/
.project
.cproject
.classpath
.target
*.iml
/out/
.idea_modules/
*.class
*.jar
*.war
*.ear
hs_err_pid*


