bin/
tmp/
.settings/
.target/
*/logs/
/out/
.idea_modules/
document/
.metadata
.gradle
*.tmp
*.bak
*.swp
local.properties
.loadpath
.idea
.project
.cproject
.classpath
.target
*.iml
*.class
*.jar
*.war
*.ear
hs_err_pid*

#Web-Vaadin
mvnw*
.mvn


