<!DOCTYPE html>
<html>
<head>
    <script src="../static/components/react/react.min.js" type="text/javascript"></script>
    <script src="../static/components/react/JSXTransformer.js" type="text/javascript"></script>
    <script src="../static/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../static/js/commons/request.js" type="text/javascript"></script>

    <link href="../static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet"/>
    <link href="../static/components/bootstrap-material-design/dist/css/material-fullpalette.min.css" rel="stylesheet"/>
    <link href="../static/components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"/>

    <script src="commons/menu.js" type="text/jsx"></script>

    <meta charset="UTF-8"/>
    <title></title>
</head>

<script type="text/jsx">
    var react = React.require("react-tools").transform("commons/menu.js");
    var BoardList = React.createClass({
        getInitialState: function() {
            return {
                boards: [
                    {
                        title: "",
                        content: "",
                        boardId: 0,
                        readCount: 0,
                        createDate: 0,
                        userId: 0,
                        username: "",
                        nickName: "",
                        admin: true,
                        comments: []
                    }
            ]};
        },
        componentWillMount: function() {
            this.loadBoards();
        },
        loadBoards: function() {
            var self = this;
            $.get(this.props.url, function(result) {
                self.setState({boards: result.boards})
            }.bind(this));
        },
        render: function() {
            return (
                <div>
                    <Board data={this.state.boards} />
                </div>
            )

        }
    });

    var Board = React.createClass({
        render: function() {
            var boards = this.props.data;
            return (
                <table className="table table-striped table-hover">
                    <thead>
                        <th>#</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>조회수</th>
                        <th>작성일</th>
                    </thead>
                    <tbody>
                        {
                            boards.map(function(item) {
                                return (
                                    <tr className="success">
                                        <td>{item.boardId}</td>
                                        <td>{item.title}</td>
                                        <td>{item.nickName}</td>
                                        <td>{item.readCount}</td>
                                        <td>{item.createDate}</td>
                                    </tr>
                                )
                            })
                        }
                    </tbody>
                </table>
            )
        }
    });

    React.render(
        <BoardList url={"http://localhost:8080/boards/1"} />,
        document.getElementById("boardList")
    );
</script>

<body>
    <div id="menu"></div>
    <div id="boardList" style="width: 60%"></div>
</body>
</html>